/*********************************************************************************************/
/******************************************* STYLE *******************************************/
/*********************************************************************************************/

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
  font-family: "Source Sans Pro", sans-serif !important;
  height: 100% !important;
  position: relative;
}

h1,
h3 {
  color: #9b0000 !important;
  width: 100%;
  max-width: 100%;
  font-family: "Fresca", sans-serif !important;
}

h1 {
  margin-bottom: 60px !important;
  font-size: 100px !important;
}

p {
  color: rgb(32, 33, 36) !important;
  width: 100%;
  max-width: 100%;
  font-size: 20px;
  width: 100%;
  line-height: 1.5;
}

.btn {
  border: 1px solid #9b0000;
  background: #9b0000;
  color: #fff;
  border-radius: 20px !important;
}

.btn:hover {
  border: 1px solid #d80000;
  background: #d80000;
  color: #fff;
}

.container {
  padding-top: 5em;
  padding-bottom: 5em;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

main {
  background: #fff;
}

.jumbotron {
  background-color: #ffffff00 !important;
}

.picture {
  border-radius: 20px;
}

/*********************************************************************************************/
/******************************************* NAV BAR *****************************************/
/*********************************************************************************************/

.navbar {
  background: #087f23;
  font-family: "Fresca", sans-serif !important;
}
.nav-link {
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 10px !important;
}
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 10px !important;
}
.navbar-brand:hover {
  color: #f4f4f4;
  border-radius: 10px !important;
}

.nav-pills .nav-link.active {
  color: #087f23 !important;
  background-color: #f4f4f4 !important;
}

.nav-donate {
  color: #f4f4f4;
  border-radius: 10px !important;
  background-color: #9b0000 !important;
}

.navbar-toggler i {
  color: #9b0000 !important;
}

.nav-donate:hover {
  color: #f4f4f4 !important;
  background-color: #d80000 !important;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #087f23;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}

/*********************************************************************************************/
/******************************************* HEADER ******************************************/
/*********************************************************************************************/

.main_jumbotron {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0 !important;
}

#hero_video {
  /* position: relative; */
  position: fixed;
  z-index: -1 !important;
  right: 0 !important;
  bottom: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

.hero_cover {
  padding: 5rem;
  margin-top: 5rem;
  background-color: #ffffffa4;
  border-radius: 10px;
}

/*********************************************************************************************/
/******************************************* TITLES ******************************************/
/*********************************************************************************************/

/* Formatting for the banner section titles */

.rescue_container {
  height: 40vh;
}

.banner_title {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin-bottom: 0 !important;
}

.rescue_jumbotron {
  background-image: url("../images/tibebgirlstotherescue.jpg");
  /* opacity: 0.5; */
}

.army_jumbotron {
  background-image: url("../images/army.png");
}

.vision_jumbotron {
  background-image: url("../images/heroimage.jpg");
}

.behind_jumbotron {
  background-image: url("../images/tibebunite.jpg");
}

.join_jumbotron {
  background-image: url("../images/behindscenes3.jpg");
}

.banner_cover {
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffa4;
}

/* secondary title formatting */

.title {
  margin-bottom: 90px;
}

.about-title {
  margin-bottom: 30px;
}

/*********************************************************************************************/
/******************************************* MAIN BODY ***************************************/
/*********************************************************************************************/

/* "The Problem" section */

.problem {
  background-color: #087f23;
}

.description {
  padding-left: 50px !important;
  padding-right: 0;
  padding-top: 4rem;
}

.join_paragraph a,
.card button {
  color: #9b0000 !important;
  white-space: normal;
}

.firstdes {
  margin-top: 160px;
}

.thirddes {
  padding-top: 160px;
}

.videocontainer {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  width: 100%;
}

#problemvideo {
  position: absolute;
  top: 0;
  left: 0;
}

/* "Behind the Scenes" section carousel */

.behindCarousel {
  width: 100% !important;
}

.behindScenesImg img {
  width: auto !important;
  height: 30rem !important;
  max-height: 30rem !important;
}

/* "Tibeb Girls Army" section*/

.brukty {
  width: 100% !important;
}

/* "Some of our partners" section */

.some_partners {
  margin-bottom: 100px !important;
}

.frame {
  height: 10rem; /* equals max image height */
  line-height: 10rem;
  width: 10rem;
  text-align: center;
  margin: 1em 0;
}
.frame img {
  vertical-align: middle;
  max-height: 12rem;
  max-width: 12rem;
}

/*********************************************************************************************/
/******************************************* FOOTER ******************************************/
/*********************************************************************************************/

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #087f23;
  color: #fff;
}

.copyright {
  background-color: #9b0000;
}

/*********************************************************************************************/
/*************************************** VOLUNTEER FORM **************************************/
/*********************************************************************************************/

.volunteer-form {
  margin-top: 50px !important;
}

/*********************************************************************************************/
/***************************************** RESPONSIVE ****************************************/
/*********************************************************************************************/

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #hero_video{
    transform: perspective(1px) translateX(-50%);
    right: auto !important;
  }
  .hero_cover {
    margin-top: 20rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero_cover {
    margin-top: 10rem !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero_cover {
    margin-top: 1rem !important;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1 {
    margin-bottom: 20px !important;
    font-size: 70px !important;
  }
  .hero_cover{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    padding: 1rem;
  }
  .behindScenesImg img {
    height: 15rem !important;
    max-height: 15rem !important;
  }
}